:root {
    --colore-principale: #323232;
    --colore-secondario: #3b3b3b;
    --spazio-tra-righe: 0px;
    --altezza-righe: 19px;
    --colore-testo: #fff;
    --colore-testo-hover: #424242;
    --colore-testo-chiaro: #999999;
    --color-dark:  #161616;
    --color-ocean:  #416dea;
    --color-grass: #3dd28d;
    --color-snow: #FFFFFF;
    --color-salmon: #F32C52;
    --color-sun: #feee7d;
    --color-alge: #7999a9;
    --color-flower: #353866;
    --color-smoke: #e4e4e4;
    
    --borderRadius: 36px;
}

body {
    margin: 0;
    background-color: var(--colore-principale);
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    color: var(--colore-testo);
    display: flex;
    justify-content: safe;
    flex-direction: row;
    align-items: center;
    height: 3rem;
    width: 100%;
    background-color: var(--colore-principale);
    border-bottom: 0.05rem solid var(--colore-secondario);
}

.titolo {
    margin-left: 5%;
}

.corpo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.barra {
    background-color: white;
    /* border: 1px solid var(--colore-secondario); */
}


.slider {
    -webkit-appearance: none;
    width: auto;
    height: 5px;
    background: #c7c7c7;
    border-radius: 2.5px;
    outline: none;
    -webkit-transition: .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: var(--color-ocean);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: var(--color-ocean);
    cursor: pointer;
}








/* ----- MENU ----- */

.unificatore {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu {
    height: 24px;
    width: 24px;
	margin-left: 5%;
    border-radius: 100%;
	padding: 5px;
	cursor: pointer; 
}

.menu:hover {
    transition: .5s;
    background-color: var(--colore-secondario);
}

.menu path {
    fill: var(--colore-testo);
}

.tipoSort {
    width: 16ch; /* caratteri in "selezionare sort" */
}

.sidenav {
    border-right: 0.0625rem solid var(--colore-secondario);
	height: 100%;
	position: fixed;
    width: 0;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: var(--colore-principale);
	overflow-x: hidden;
	transition: 0.5s;
}

.elemento {
	padding: 4px 4px 4px 8px;
	font-size: 18px;
	color: var(--colore-testo-chiaro);
	transition: 0.3s;
	display: flex;
	flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.elemento:hover {
	color: var(--colore-testo);
	background-color: var(--colore-testo-hover);
}

.closebtn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 27px;
    cursor: pointer;
    margin-top: 10px;
    height: 30px;
    width: 30px;
    border-radius: 100%;
	color: var(--colore-bottoni);
}

.closebtn:hover {
    transition: .5s;
    background-color: var(--colore-hover);
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	margin-left: 50px;
}

@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav span {
		font-size: 18px;
	}
}

#main {
	transition: margin-left .5s;
}




















.button {
  display: flex;
  overflow: hidden;

  cursor: pointer;
  user-select: none;
  transition: all 150ms linear;
  text-align: center;
  white-space: nowrap;
  text-decoration: none !important;
  text-transform: none;
  text-transform: capitalize;

  font-size: 13px;
    height: 25px;
    width: 100px;

  color: #fff;
  background-color: none;
  border-radius: var(--borderRadius);

  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
 
  justify-content: center;
  align-items: center;
  flex: 0 0 100px;
}

.button:hover {
transition: all 150ms linear;
}

.button:active {
transition: all 150ms linear;
opacity: .75;
}

.button:focus {
outline: 1px dotted #959595;
outline-offset: -4px;
}

/* .button.-regular {
  color: #202129;
  background-color: #f2f2f2;
  
  &:hover {
    color: #202129;
    background-color: #e1e2e2;
    opacity: 1;
  }
  
  &:active {
    background-color: #d5d6d6;
    opacity: 1;
  }
} */

.button.-dark {
    
  color: var(--color-snow);
  background: var(--color-dark);
}

.button.-dark:focus {
    outline: 1px dotted white;
    outline-offset: -4px;
  }
  
/* .button.-green {
  color: var(--color-snow);
  background: var(--color-grass);
} */

.button.-blue {
    border: 2px solid var(--color-ocean);
  color: var(--color-snow);
}

.button.-blue:hover {
  color: var(--color-snow);
  background: var(--color-ocean);
}

/* .button.-salmon {
  color: var(--color-snow);
  background: var(--color-salmon);
}

.button.-sun {
  color: #f15c5c;
  background: var(--color-sun);
}

.button.-alge {
  color: #e7ff20;
  background: var(--color-alge);
}

.button.-flower {
  color: #FE8CDF;
  background: var(--color-flower);
} */




input[type="number"] {
    width: 8ch;
    text-align: center;
    border: 0;
    height: 25px;
    border-radius: var(--borderRadius);
    -moz-appearance: textfield;
    color: white;
    background-color: var(--colore-principale);
    border: 2px solid var(--color-ocean);
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"]:focus {
    outline: 0;
}

    /* .pt_Quantity {
    display: inline-block;
    margin: 0 0 10px;
    position: relative;
    input {
      color: #443017;
      border-radius: 2px;
      background-color: #ffffff;
      border: solid 1px #b7b7b7;
      font-family: "Montserrat", sans-serif;
      font-size: 15px;
      font-weight: 300;
      min-width: 45px;
      height: 30px;
      float: left;
      display: block;
      padding: 0 15px 0 2px;
      margin: 0;
      text-align: center;
      width: 70px;
      
    }

    & .pt_QuantityNav {
      float: left;
      position: relative;
      height: 30px;
      & .pt_QuantityButton {
        position: relative;
        cursor: pointer;
        border-left: 1px solid #b7b7b7;
        width: 15px;
        text-align: center;
        color: #333;
        font-size: 14px;
        font-family: "Trebuchet MS", Helvetica, sans-serif !important;
        line-height: 1.1;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        &:active {
          box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
          -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
        }
        &.pt_QuantityUp {
          position: absolute;
          height: 50%;
          top: 0;
          border-bottom: 1px solid #b7b7b7;
        }
        &.pt_QuantityDown {
          position: absolute;
          bottom: 0px;
          height: 50%;
        }
      }
    }
  } */
